    .text{
    width: 50%;
   
    }
    .avatar{
        box-shadow: 5px 5px 35px 1px;       
        border-radius:320px ;
        -webkit-border-radius:320px ;
        -moz-border-radius:320px ;
        -ms-border-radius:320px ;
        -o-border-radius:320px ;
        
}
    body{
        padding-right: 25px;
        width: 1000px;
        margin: auto;
        background-color: darkgray;
    background-image:url(css/Pictures/sirenevyy-fon.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 30px;

}
    a{
        color:black;
        text-decoration: none;
    }
    a:hover{
        color:blue;
        text-decoration: underline;
    }

    .card{
        padding: 15px 100px;
        margin-bottom: 15px;
        background: rgb(251, 186, 139);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 15px 20px;
}
.bgyellow{
    background: #f0e091;
            border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 15px 20px;
}
.bggreen{
    background: #75b37a;
            border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 15px 20px;
}
.container{
    background: darksalmon;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 15px 20px;
        background-image:url(css/Pictures/site.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
      
}
*{
    margin-bottom: 10px;
}
.table{
    text-align: center;
    width: 100%;
    
}
.list li{
    color:green;
}

.forma label{
    display: block;
    font-size: 14px;
}
.forma input{
    width: 45%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
    font-family: monospace;
}
.forma textarea{
    width: 45%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
    font-family: monospace;
}
.info{
    display: flex;   
}

@media(max-width:700px){
.info{
display: block;
text-align: center;
 }   
}

.info-text{
margin-left: 40px;
margin-bottom: 10px;
padding-top: 25px;
}
.btn{
    background-color: black;
    padding:15px;
    color:white;
    border: none;
    font-family: serif;
    cursor: pointer;
    
}
.btn:hover{
    opacity: 0.7;
}